.caixa{
    background-color: aquamarine;
    padding: 30px;
    margin: 10px;
}

.container{
    display: flex;
    flex-direction: row;
    background-color: rgb(32, 108, 175);
    height: 400px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}